/* line 17, ../../../../../home/dszeto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../home/dszeto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../home/dszeto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../home/dszeto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../home/dszeto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../home/dszeto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../home/dszeto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../home/dszeto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../home/dszeto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/base.scss */
h1, h2, h3 {
  color: #666;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  line-height: 1.4;
}

/* line 16, ../sass/base.scss */
h1 {
  font-size: 48px;
}

/* line 21, ../sass/base.scss */
h2 {
  font-size: 36px;
}

/* line 26, ../sass/base.scss */
h3 {
  font-size: 24px;
}

/* line 31, ../sass/base.scss */
p {
  color: #999;
  font-family: "Droid Sans", sans-serif;
  font-size: 14px;
  line-height: 1.54;
  margin-bottom: 15px;
}

/* line 39, ../sass/base.scss */
#container {
  width: 960px;
}
/* line 42, ../sass/base.scss */
#container header {
  padding-bottom: 35px;
  margin-left: 10px;
}
/* line 47, ../sass/base.scss */
#container section {
  display: inline-block;
  text-align: top;
  width: 710px;
  margin-left: 10px;
}
@media only screen and (max-width: 480px) {
  /* line 47, ../sass/base.scss */
  #container section {
    width: 150px;
    background-color: blue;
  }
}
/* line 59, ../sass/base.scss */
#container aside {
  display: inline-block;
  width: 220px;
}

/* line 66, ../sass/base.scss */
#loop-directive .house-1 {
  webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #e7e7e7;
  height: 50px;
}

/* line 66, ../sass/base.scss */
#loop-directive .house-2 {
  webkit-border-radius: 30px;
  border-radius: 30px;
  background-color: #f1f1f1;
  height: 60px;
}

/* line 66, ../sass/base.scss */
#loop-directive .house-3 {
  webkit-border-radius: 40px;
  border-radius: 40px;
  background-color: #fbfbfb;
  height: 70px;
}
